.span2.offset3
  = text_field_tag "coucou"

%ul.thumbnails
  %li.span3
    .thumbnail
      = link_to (image_tag "/img/bolo.jpg"), bolo_path
    .caption
      %h3 Spaghettis à la bolognaise
      %p Une recette classique mais délicieuse, rapide et peu onéreuse idéale pour toutes les faims.
  %li.span3
    .thumbnail 
      = link_to (image_tag "/img/carbo.jpg"), bolo_path
    .caption 
      %h3 Spaghettis à la carbonara
      %p Des pâtes, des pâtes, oui mais des panzannis !
  %li.span3
    .thumbnail 
      = link_to (image_tag "/img/bolo.jpg"), bolo_path
    .caption
      %h3 Spaghettis à la bolognaise
      %p Des pâtes, du fromage, des champignons, un plein de douceur pour votre palais.
  %li.span3
    .thumbnail 
      = link_to (image_tag "/img/bolo.jpg"), bolo_path
    .caption
      %h3 Spaghettis à la bolognaise
      %p Des pâtes, du fromage, des champignons, un plein de douceur pour votre palais.
  %li.span3
    .thumbnail 
      = link_to (image_tag "/img/bolo.jpg"), bolo_path
    .caption
      %h3 Spaghettis à la bolognaise
      %p Des pâtes, du fromage, des champignons, un plein de douceur pour votre palais.
  %li.span3
    .thumbnail 
      = link_to (image_tag "/img/bolo.jpg"), bolo_path
    .caption
      %h3 Spaghettis à la bolognaise
      %p Des pâtes, du fromage, des champignons, un plein de douceur pour votre palais.


