%ul.thumbnails
  %li.span3
    .thumbnail
      = image_tag "/img/bolo.jpg"
    .caption
      %h3 Spaghettis à la bolognaise
      %p Une recette classique mais délicieuse, rapide et peu onéreuse idéale pour toutes les faims.
  %li.span3
    .thumbnail 
      = image_tag "/img/carbo.jpg"
    .caption 
      %h3 Spaghettis à la carbonara
      %p Des pâtes, des pâtes, oui mais des panzannis !
  %li.span3
    .thumbnail 
      = image_tag "/img/bolo.jpg"
    .caption
      %h3 Spaghettis au parmesan et aux morilles
      %p Des pâtes, du fromage, des champignons, un plein de douceur pour votre palais.
  %li.span3
    .thumbnail 
      = image_tag "/img/bolo.jpg"
    .caption
      %h3 Spaghettis au parmesan et aux morilles
      %p Des pâtes, du fromage, des champignons, un plein de douceur pour votre palais.
  %li.span3
    .thumbnail 
      = image_tag "/img/bolo.jpg"
    .caption
      %h3 Spaghettis au parmesan et aux morilles
      %p Des pâtes, du fromage, des champignons, un plein de douceur pour votre palais.
  %li.span3
    .thumbnail 
      = image_tag "/img/bolo.jpg"
    .caption
      %h3 Spaghettis au parmesan et aux morilles
      %p Des pâtes, du fromage, des champignons, un plein de douceur pour votre palais.


